*.pyc
/doc/sphinx/source/autoapi/*
examples/data/
examples/PINEM/data
regpy/*/private

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.vscode/
.gitlab-ci-local.yml
regpy/_version.py
.coverage