sphinx
sphinx-autoapi
nbsphinx
sphinx-mdinclude
furo
ipykernel
jupyter  # required for nbsphinx to parse notebooks
myst-parser  # for .md markdown files more broadly
pypandoc # Needed to parse the notebooks
# for plots:
matplotlib
webgui_jupyter_widgets
ipywidgets